{
	admin off
}

http://{$PUBLIC_HOST} {
	redir https://{host}{$PUBLIC_HTTPS_REDIRECT_SUFFIX}{uri} permanent
}

:443 {
	tls /certs/server.crt /certs/server.key

	@signal path /ws /ws/*
	handle @signal {
		reverse_proxy signal-server:18081
	}

	handle {
		reverse_proxy api-server:18080
	}
}
