**

!Cargo.toml
!Cargo.lock
!rust-toolchain.toml

!crates/
!crates/**
!services/
!services/**

!infra/
!infra/docker-compose/
!infra/docker-compose/Dockerfile
!infra/docker-compose/service-entrypoint.sh

crates/**/target/
crates/**/target/**
services/**/target/
services/**/target/**
